{
  "version": "0.1.3",
  "notes": "这是新版本的更新说明：\n1. 修复了已知问题\n2. 优化了性能",
  "pub_date": "2026-01-04T00:00:00Z",
  "platforms": {
    "windows-x86_64": {
      "signature": "在此处填入私钥生成的签名字符串",
      "url": "https://github.com/lingxyun/tonwinn/releases/download/v0.1.3/鱼跃CRM_0.1.3_x64-setup.exe"
    }
  }
}
